@page "/Now"
@inject Settings settings

<PageTitle>Makajda - Now</PageTitle>

<MudStack Row Class="d-flex justify-content-end my-4">
    <MudText Typo=Typo.caption>@settings.LnString("Инди-разработка 2022","Indie dev 2022")</MudText>
</MudStack>

<MudText Class="ma-8" Align=Align.Center Typo=Typo.h5>
    @settings.LnString("Образовательная платформа подготовки старшеклассников к успешной сдаче ЕГЭ",
    "Educational platform for preparing high school students for the successful passing of state exams")
</MudText>

<MudText Align=Align.Center Class="text-danger" Typo=Typo.h6>c#, sql, blazor, asp net, entity framework, maui, mudblazor</MudText>

<MudStack Row Class="d-flex justify-content-center my-4">
    <MudStack Row Class="d-flex justify-content-between my-4">
        <MudButton Href="https://www.querc.ru">
            <MudImage Width=@width Src="img/web.png" />
        </MudButton>

        <MudButton Href="https://play.google.com/store/apps/details?id=ru.querc&hl=ru">
            <MudImage Width=@width Src="img/storeGoogle.png" />
        </MudButton>

        <MudButton Href="https://apps.microsoft.com/store/detail/querc/9N9X4D298ZVB?hl=ru-tm&gl=tm">
            <MudImage Width=@width Src="img/storeMicrosoft.png" />
        </MudButton>

        <MudButton Href="https://t.me/QuercBot">
            <MudImage Width=@width Src="img/telegram.png" />
        </MudButton>
    </MudStack>
</MudStack>

<MudStack Row Class="d-flex justify-content-center my-4">
    <MudText Class="mt-8 mb-4" Typo=Typo.body1>@settings.LnString("Для студентов:", "For students:")</MudText>

    <MudText Typo=Typo.body1>
        <ol>
            <li>@settings.LnString("Видео уроков и вебинары", "Video lessons and webinars")</li>
            <li>@settings.LnString("Конспекты уроков", "Lesson notes")</li>
            <li>@settings.LnString("Домашние задания с ключами и проверкой преподавателем", "Homeworks with keys and teacher check")</li>
            <li>@settings.LnString("Два тренажёра", "Two simulators")</li>
            <li>@settings.LnString("Статистика достижений", "Achievement statistics")</li>
        </ol>
    </MudText>
</MudStack>

<MudStack Row Class="d-flex justify-content-center my-4">
    <MudText Class="mt-8 mb-4" Typo=Typo.body1>
        @settings.LnString("Для преподавателя платформа - это место, где:", "For a teacher, a platform is a place where:")
    </MudText>

    <MudText Typo=Typo.body1>
        <ol>
            <li>@settings.LnString("Можно подготовить базу заданий", "You can prepare a high-quality database of tasks")</li>
            <li>@settings.LnString("Формировать несколько типов домашних работ по каждому уроку", "Form several types of homework for each lesson")</li>
            <li>@settings.LnString("Удобно проверять домашние работы учеников и видеть прогресс", "Conveniently check students' homework and see progress")</li>
        </ol>
    </MudText>
</MudStack>

@code {
    [CascadingParameter] public Erowa Erowa { get; set; }
    const int width = 45;
}